
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap')

*, *:before, *:after
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: "Montserrat", sans-serif

button
  border: none

a
  text-decoration: none

li
  list-style-type: none
body
  scroll-behavior: smooth
  user-select: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  padding: 0 0 0 0
  background: #5095e4
  background: linear-gradient(180deg,#2f6ed3 5%,#5095e4 20%,#5095e4 60%,#2f6ed3 95%)
  background-size: cover
  background-repeat: no-repeat
.container-h
  height: 100vh
img
  width: 100%
  height: 100%

svg
  width: 100%
  height: 100%

.container
  max-width: 390px - 60px
  padding: 10px 0
  margin: 0 auto

@media (min-width: 481px)
  .container
    max-width: 481px - 40px

@media (min-width: 768px)
  .container
    max-width: 768px - 52px

@media (min-width: 1024px)

  .container
    max-width: 1024px - 80px

@media (min-width: 1201px)
  .container
    max-width: 1201px - 100px

@media (min-width: 1440px)

  .container
    max-width: 1440px - 120px
